<div class="page-header">
  <h5>
  <ul class="breadcrumb warn warn-info">
    <li>合同管理<span class="divider">/</span></li>
    <li>新增合同</li>
  </ul>
  </h5>
</div>
<div class="container-fuild">
<%= render 'form' %>
</div>
