<div id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home"></i>
      <a href="#">Home</a>

							<span class="divider">
								<i class="icon-angle-right"></i>
							</span>
    </li>
    <li class="active"><%= yield(:title) %></li>
  </ul><!--.breadcrumb-->
</div>
