<div class="page-header position-relative">
  <h1>
    <%= yield(:title) %>
    <small>
      <i class="icon-double-angle-right"></i>
      <%= yield(:page_header_description) %>
    </small>
  </h1>
</div><!--/.page-header-->