<div class="page-header position-relative">
  <h5>
    <%= yield(:title) %>
    <small>
      <i class="icon-double-angle-right"></i>
      <%= yield(:page_header_description) %>
    </small>
  </h5>
</div><!--/.page-header-->
