<div class="page-header">
  <h5>
  <ul class="breadcrumb warn warn-info">
    <li>系统管理<span class="divider">/</span></li>
    <li>操作日志</li>
  </ul>
  </h5>
</div>
<div class="container">
  <%= form_for(:useroperation, :url=>useroperation_index_path, :html=>{:class=>"form-inline"}) do |f| %>
    <%= f.label "用户账号", :class=>'control-label' %>
  <% end %>
</div>
<div class="container">
<table class="table table-striped">
  <tr>
    <th>用户名称</th>
    <th>用户账号</th>
    <th>用户登陆IP地址</th>
    <th>操作时间</th>
    <th>操作内容</th>
  </tr>
  <% @useroperations.each do |u| %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>
</div>
