<div class="page-header">
  <h3>设备管理/设备出库</h3>
</div>
<div class="row-fluid" >
  <div class="span4"></div>
  <div class="span3">
     <button class="btn btn-large btn-block btn-success" type="button">钻塔出库<i class="icon-hand-right"></i></button>
     <button class="btn btn-large btn-block btn-primary" type="button">钻机出库单<i class="icon-hand-right"></i></button>
     <button class="btn btn-large btn-block btn-warning" type="button">泥浆泵出库单<i class="icon-hand-right"></i></button>
  </div>
  <div class="span4"></div>
</div>
