<div class="page-header">
  <h5>
  <ul class="breadcrumb warn warn-info">
    <li>设备管理<span class="divider">/</span></li>
    <li>设备入库</li>
  </ul>
  </h5>
</div>
<div class="row-fluid" >
  <div class="span4"></div>
  <div class="span3">
     <button class="btn btn-large btn-block btn-primary" type="button" onclick="go_newrigmachine()">钻机入库<i class="icon-hand-right"></i></button>
     <button class="btn btn-large btn-block btn-success" type="button" onclick="go_newdrilltower()">钻塔入库<i class="icon-hand-right"></i></button>
     <button class="btn btn-large btn-block btn-warning" type="button" onclick="go_newpump()">泥浆泵入库<i class="icon-hand-right"></i></button>
  </div>
  <div class="span4"></div>
</div>
<script language="javascript">
  function go_newdrilltower()
  {
    window.location.href="<%=drilltower_new_path %>"
  }


  function go_newrigmachine()
  {
    window.location.href="<%=rigmachine_new_path %>"
  }

  function go_newpump()
  {
    window.location.href="<%=pump_new_path %>"
  }
</script>
