<% provide(:title, '系统管理') %>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="myTab">
    <li class="dropdown active">
      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        人员分组
        <b class="caret"></b>
      </a>

      <ul class="dropdown-menu dropdown-info">
        <li>
          <a data-toggle="tab" href="#dropdown1">项目经理</a>
        </li>
        <li>
          <a data-toggle="tab" href="#dropdown2">机长</a>
        </li>
        <li>
          <a data-toggle="tab" href="#dropdown3">班长</a>
        </li>
      </ul>
    </li>

    <li><a href="#tab2" data-toggle="tab">项目经理配置</a></li>
    <li><a href="#tab3" data-toggle="tab">机组配置</a></li>


  </ul>
  <div class="tab-content">
    <div class="tab-pane in active" id="dropdown1" data-src="/groups/index?groupflag=1">
      <iframe frameborder="0" src="/groups/index?groupflag=1"></iframe>
    </div>
    <div class="tab-pane" id="dropdown2" data-src="/groups/index?groupflag=2">
      <iframe frameborder="0" src=""></iframe>
    </div>
    <div class="tab-pane" id="dropdown3" data-src="/groups/index?groupflag=3">
      <iframe frameborder="0" src=""></iframe>
    </div>

    <div class="tab-pane" id="tab2" data-src="">
      <p>
        <span class="label label-large label-yellow arrowed-right">项目经理配置</span>
      </p>
      <iframe frameborder="0" src=""></iframe>
    </div>
    <div class="tab-pane" id="tab3" data-src="">
      <p>
        <span class="label label-large label-yellow arrowed-right">机组配置</span>
      </p>
      <iframe frameborder="0" src=""></iframe>
    </div>

  </div>
</div>

<% content_for :inline_javascripts do %>
<script type="text/javascript">
  $(function() {
    //$('#myTab a[href="#tab2"]').click(function(e) {
      //e.preventDefault();
      //$(this).tab('show');
      //$('#tab2').load('/users/main');
    //});
    $('#myTab a[href="#dropdown1"]').click(function(e){
      openiframe("#dropdown1");
    });
    $('#myTab a[href="#dropdown2"]').click(function(e){
      openiframe("#dropdown2");
    });
    $('#myTab a[href="#dropdown3"]').click(function(e){
      openiframe("#dropdown3");
    });
    $('#myTab a[href="#dropdown4"]').click(function(e){
      openiframe("#dropdown4");
    });
    $("#myTabs").bind("show", function(e) {
      paneID = $(e.target).attr("href");
      src = $(paneID).attr("data-src");
      //if($(paneID+" iframe").attr("src")=="")
      //{
        $(paneID+" iframe").attr("src", src);
      //}
    });
  });
  function openiframe(paneID)
  {
    src = $(paneID).attr("data-src");
    //if($(paneID+" iframe").attr("src")=="")
    //{
      $(paneID+" iframe").attr("src", src);
    //}
    e.preventDefault();
  }
</script>
<% end %>
