<div class="row-fluid">
  <div class="span2">
    <!-- Sidebar content -->
    <div id="dynatree" style="width:200;height:200;overflow:auto;"></div>
  </div>
  <div class="span9">
    <!-- Body content -->
    <iframe id="_iframe" src="<%= department_users_path(@department) %>" width="100%" height="700px" frameborder="0"></iframe>
  </div>
</div>
<%= user_dynatree(:tree_id => "dynatree") %>
