<div class="page-header">
  <h5>
    <ul class="breadcrumb">
      <li><%= t 'headers.system.people.manage' %><span class="divider">/</span></li>
      <li class="active"><%= t 'headers.system.people.new' %></li>
    </ul>
  </h5>
</div>

<%= render 'form' %>


