<div class="page-header">
  <h5>
  <ul class="breadcrumb warn warn-info">
    <li>钻孔管理<span class="divider">/</span></li>
    <li><a href="<%= tourreports_path %>">班报管理</a><span class="divider">/<span></li>
    <li>班报日历</li>
  </ul>
  </h5>
</div>
<div class="container">
  <div id="calendar"></div>
</div>
<%= make_calendar_for_tourreport(1) %> 
