<% content_for(:page_header_description, "钻孔设计") %>
<% content_for(:title,"钻孔设计") %>
<%= content_for :page_specific_stylesheets do %>
  <%= stylesheet_link_tag "jquery-ui-1.10.3.custom.min" %>
  <%= stylesheet_link_tag "chosen" %>
  <%= stylesheet_link_tag 'datepicker' %>
<% end %>

<div id="page-content" class="clearfix">
  <div class="page-header position-relative">
    <h1>钻孔设计</h1>
  </div>
</div>
<div class="row-fluid">
  <div class="span10">
    <p class="lead">
    钻孔设计请访问网站 http://www.geodrilling.org
    </p>
  </div>
</div>
