<% content_for(:page_header_description, "钻孔设计") %>
<% content_for(:title,"钻孔设计") %>
<%= content_for :page_specific_stylesheets do %>
  <%= stylesheet_link_tag "jquery-ui-1.10.3.custom.min" %>
  <%= stylesheet_link_tag "chosen" %>
  <%= stylesheet_link_tag 'datepicker' %>
<% end %>
<div class="row-fluid">
  <div class="error-container">
    <div class="well">
      <h2 class="grey lighter smaller">
        <span class="blue bigger-125">
          <i class="icon-random"></i>
        </span>
        钻探设计在线
      </h2>
      <div class="space"></div>
      <div>
        <ul class="unstyled spaced inline bigger-110">
          <li>
            <i class="icon-hand-right blue"></i>
            请访问钻探设计在线网站，并将设计文件上传到每个钻孔上即可
          </li>
          <li>
            <i class="icon-hand-right blue"></i>
            <a href="http://design.geodrilling.org.cn/login/">钻探施工设计在线</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
