<div class="page-header">
  <h5>
  <ul class="breadcrumb warn warn-info">
    <li>系统管理<span class="divider">/</span></li>
    <li><a href="<%=dictionary_index_path%>">字典管理</a><span class="divider">/<span></li>
    <li>新增字典项</li>
  </ul>
  </h5>
</div>
<%=  render "form" %>
