.tree_column {
    float: left;
    overflow: auto;
}
.content_column {
    float: left;
    height: 100%;
    min-height: 550px;
}
#_iframe {
    width: 100%;
    height: 100%;
    display: block;
}
@media all and (max-width: 1000px) {
    .tree_column {
        width: 30%;
    }
    .content_column {
        width: 70%;
    }
}

@media all and (min-width: 1001px) {
    .tree_column {
        width: 25%;
    }
    .content_column {
        width: 75%;
    }
}