<% content_for(:title,"班报管理") %>
<%
  if @holeid  
    content_for(:page_header_description, "查看钻孔<strong class='light red'>".html_safe + Hole.find(@holeid).holenumber + "</strong>的班报信息".html_safe ) 
  else
    content_for(:page_header_description, "查看所有钻孔的班报信息")
  end
%>

<div class="row-fluid">
<table id="_tourreport_table" class="table table-striped">
  <thead>
  <tr>
    <th>钻孔编号</th>
    <th>班报日期</th>
    <th>开始时间</th>
    <th>结束时间</th>
    <th>项目经理</th>
    <th>班长</th>
    <th>记录员</th>
    <th>本班进尺</th>
    <th>本班取心</th>
    <th>纯钻时间</th>
    <th>辅助时间</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>
</div>
<div class="form-actions">
<%= link_to '班报日历', schedule_index_path , :class=>"btn btn-primary" %>
</div>
<% content_for :page_specific_javascripts do %>
  <%= javascript_include_tag 'jquery.dataTables.min' %>
  <%= javascript_include_tag 'jquery.dataTables.bootstrap' %>
<% end %>

<% content_for :inline_javascripts do %>
<script language="javascript">
  $(function(){
   var oTable1=$("#_tourreport_table").dataTable({
        "aoColumns":[{"bSortable":false},null,{"bSortable":false},{"bSortable":false},null,null,null,null,null,null,null ],
        "bProcessing":true,
        "bServerSide":true,
        "bAutoWidth" : false,
        "sAjaxSource":"<%=tourreports_path(:format=>:json, :holeid=>@holeid ) %>",
        "oLanguage":{
        "sLengthMenu":"每页 _MENU_",
        "sZeroRecords":"对不起,没有数据",
        "sInfo":"显示 _START_ 到 _END_ ,总计_TOTAL_数据",
        "sInfoEmpty":"显示 0 到 0 , 总计0数据",
        "sSearch": "检索",
        "sProcessing": "系统正在处理...",
        "sInfoFiltered":"(过滤_MAX_数据)" }
        }
     );
  });
</script>
<% end %>
