<div class="page-header">
  <h5>
  <ul class="breadcrumb warn warn-info">
    <li>钻孔管理<span class="divider">/</span></li>
    <li><a href="<%= tourreports_path%>">班报管理</a><span class="divider">/</span></li>
    <li>新建班报</li>
  </ul>
  </h5>
</div>
<%= render 'form' %>
