              <!--PAGE CONTENT ENDS HERE-->
            </div><!--/row-->
          </div><!--/#page-content-->
        <%= render 'layouts/AceAdminLayout/settings_container' %>
      </div><!--/#main-content-->
    </div><!--/.fluid-container#main-container-->
    <a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
      <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
    <%= render 'layouts/AceAdminLayout/javascript_include' %>
  </body>
</html>