              <!--PAGE CONTENT ENDS HERE-->
            </div><!--/row-->
          </div><!--/#page-content-->
      </div><!--/#main-content-->
    </div><!--/.fluid-container#main-container-->
    <%= render 'layouts/AceAdminLayout/javascript_include' %>
  </body>
</html>
