<!DOCTYPE html>
<html lang="zh">
<head>
  <title><%= t('headers.project') %></title>
  <%= render 'layouts/AceAdminLayout/stylesheets_include' %>
  <%= csrf_meta_tags %>
</head>
<body class="baselayout">
  <%= yield %>
</body>
</html>
