<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= render "layouts/AceAdminLayout/stylesheets_include" %>
  <%= render "layouts/AceAdminLayout/javascript_include" %>
  <style>
    div.container {
      width: 100%;
    }
  </style>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
