<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= render "layouts/AceAdminLayout/stylesheets_include" %>
  <%= render "layouts/AceAdminLayout/javascript_include" %>
  <style>
    body {
      max-width: 800px;
    }
    input {
      max-width: 100%;
    }
    .form-horizontal .control-label {
      width: 70px;
    }
    .form-horizontal .controls {
      margin-left: 90px;
    }
    .form-horizontal .form-actions {
      padding-left: 20px;
    }
    .dl-horizontal > dd:after {
      display: table;
      content: "";
      clear: both;
    }
    div#footer {
      position: fixed;
      bottom: 0px;
      width: 100%;
    }
    div#wrapper {
      margin-bottom: 5em;
    }
    div.container {
      width: 700px;
    }
  </style>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>

